/* === CUSTOM PROPERTIES === */
:root {
    --blanco: #FFF;
    --negro: #000;
    --grisOscuro: #464646;
    --grisClaro: #F5F5F5;
    --azulClaro: #EAF2FD;
    --btnAzul: #2A7AE4;
    --berkshire: 'Berkshire Swash', cursive;
    --jetBrains: 'JetBrains Mono', monospace;
}

/* === GLOBALES === */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after { box-sizing: inherit; }

body {
    font-size: 1.6rem;
    background-color: var(--grisClaro) ;
    color: var(--grisOscuro);
    font-family: var(--jetBrains);
    line-height: 1.5;
    font-weight: 500;
}

img {
    max-width: 100%;
    display: block;
}

.contenedor {
    max-width: 144rem;
    width: 90%;
    margin: 0 auto;
}

/* === MENÚ === */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.2rem 0;
}

@media (max-width: 1080px) {
    .menu {
        padding: 1.6rem 0;
    }
}

@media (max-width: 576px) {
    .menu {
        padding: 1.8rem 0;
    }
}

.menu__header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu__title {
    font-size: 3rem;
    margin: 0;
}

@media (max-width: 576px) {
    .menu__title {
        font-size: 2.4rem;
    }
}

.menu__icon {
    font-size: 3rem;
}

.menu__nav {
    display: flex;
    gap: 3.2rem;
}

.menu__nav__enlace {
    color: var(--grisOscuro);
    font-size: 2rem;
    text-decoration: none;
}

@media (max-width: 1080px) {
    .menu__nav__enlace {
        display: none;
    }
}

.menu__nav__enlace--bold {
    font-weight: 700;
}

@media (max-width: 1080px) {
    .menu__nav__enlace--bold {
        display: inline-block;
    }
}

@media (max-width: 576px) {
    .menu__nav__enlace--bold {
        font-weight: normal;
        font-size: 1.8rem;
    }
}

/* === HERO === */
.hero__container {
    display: flex;
    align-items: center;
    padding: 3.2rem 0;
    gap: 2.08rem;
}

@media (max-width: 1080px) {
    .hero__container {
        padding: 3.2rem 0;
        gap: 3.2;
    }
}

@media (max-width: 576px) {
    .hero__container {
        flex-direction: column;
        align-items: flex-start;
        padding: 1.8rem 0;
    }
}

.hero__profile {
    order: 1;
    border-radius: 50%;
}

@media (max-width: 1080px) {
    .hero__profile {
        width: 150px;
    }
}

@media (max-width: 576px) {
    .hero__profile {
        order: 0;
        width: 100px;
    }
}

.hero__bio {
    margin: 0;
    font-size: 5.2rem;
    font-family: var(--berkshire);
}

@media (max-width: 1080px) {
    .hero__bio {
        font-size: 3rem;
    }
}

@media (max-width: 576px) {
    .hero__bio {
        font-size: 4.4rem;
    }
}

.hero__texto {
    font-size: 2rem;
    text-align: justify;
}

@media (max-width: 1080px) {
    .hero__texto {
        font-size: 1.8rem;
    }
}

.hero__network {
    display: flex;
    gap: 3rem;
}

.hero__network__enlace {
    color: var(--grisOscuro);
    font-size: 3rem;
    text-decoration: none;
}

/* === ABOUT === */
.about {
    background-color: var(--azulClaro);
}

.about__container {
    padding: 6.4rem 0;
}

@media (max-width: 1080px) {
    .about__container {
        padding: 3.2rem 0;
    }
}

@media (max-width: 576px) {
    .about__container {
        padding: 1.8rem 0;
    }
}

.about__title {
    font-family: var(--berkshire);
    font-size: 3.2rem;
    margin: 0;
}

.about__paragraph {
    margin: 1.6rem 0 0 0;
    font-size: 2rem;
    text-align: justify;
    width: 70%;
}

@media (max-width: 1080px) {
    .about__paragraph {
        font-size: 1.8rem;
        width: 100%;
    }
}

/* === SKILLS === */
.skills {
    margin-bottom: 8rem;
}

@media (max-width: 1080px) {
    .skills {
        margin-bottom: 3.2rem;
    }
}

@media (max-width: 576px) {
    .skills {
        margin-bottom: 1.8rem;
    }
}

.skills__title {
    font-family: var(--berkshire);
    font-size: 3.2rem;
    text-align: center;
    margin: 3.2rem 0;
}

@media (max-width: 1080px) {
    .skills__title {
        margin: 3.2rem 0 0 0;
    }
}

.skills__container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.6rem;
}

@media (max-width: 1080px) {
    .skills__container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 576px) {
    .skills__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.skills__box {
    background-color: var(--blanco);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    /* Aplicando la animación */
    transition-property: transform;
    transition-duration: 300ms;
}

@media (max-width: 1080px) {
    .skills__box {
        margin-top: 3.2rem;
    }
}

@media (max-width: 576px) {
    .skills__box:last-of-type {
        grid-column: 1 / 3;
    }
}

.skills__box:hover {
    /* Efecto: crecimiento del 10% */
    transform: scale(1.1);
    border: 5px solid var(--azulClaro);
}

.skills__box__img {
    width: 80px;
}

.skills__box__name {
    margin: 0;
    text-align: center;
}

@media (max-width: 576px) {
    .skills__box__name {
        font-size: 1.8rem;
    }
}

/* === HOBBIES === */
.hobbies {
    margin-bottom: 8rem;
}

@media (max-width: 1080px) {
    .hobbies {
        margin-bottom: 3.7rem;
    }
}

@media (max-width: 576px) {
    .hobbies {
        margin-bottom: 1.8rem;
    }
}

.hobbies__title {
    font-family: var(--berkshire);
    font-size: 3.2rem;
    text-align: center;
    margin: 3.2rem 0;
}

@media (max-width: 1080px) {
    .hobbies__title {
        margin: 3.2rem 0 0 0;
    }
}

.hobbies__container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.6rem;
}

@media (max-width: 1080px) {
    .hobbies__container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 576px) {
    .hobbies__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.hobbies__box {
    background-color: var(--blanco);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    /* Aplicando la animación */
    transition-property: transform;
    transition-duration: 300ms;
}

@media (max-width: 1080px) {
    .hobbies__box {
        margin-top: 3.2rem;
    }
}

.hobbies__box:hover {
    /* Efecto: crecimiento del 10% */
    transform: scale(1.1);
    border: 5px solid var(--azulClaro);
}

.hobbies__box__img {
    width: 80px;
    margin-bottom: 1.2rem;
}

.hobbies__box__name {
    margin: 0;
    text-align: center;
}

@media (max-width: 576px) {
    .hobbies__box__name {
        font-size: 1.8rem;
    }
}


/* === FORMACIÓN ACADÉMICA === */
.academic {
    background-color: var(--azulClaro);
}

.academic__courses {
    padding: 8.2rem 0;
}

@media (max-width: 1080px) {
    .academic__courses {
        padding: 3.2rem 0;
    }
}

.academic__title {
    font-family: var(--berkshire);
    font-size: 3.2rem;
    text-align: center;
    margin: 0 0 3.2rem 0;
}

.academic__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

@media (max-width: 576px) {
    .academic__container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.academic__box {
    background-color: var(--blanco);
    border-radius: 1rem;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1080px) {
    .academic__box {
        height: 150px;
        padding: 2rem;
    }
}

@media (max-width: 576px) {
    .academic__box {
        padding: 4rem;
    }
}

.academic__box__title {
    margin: 0.8rem 0;
    font-weight: 900;
    font-size: 2rem;
}

@media (max-width: 1080px) {
    .academic__box__title {
        font-size: 1.8rem;
    }
}

.academic__box__subtitle {
    margin: 0;
    font-size: 1.8rem;
}

/* === PROYECTOS === */
.experience__title {
    font-family: var(--berkshire);
    font-size: 3.2rem;
    text-align: center;
    margin: 3.2rem 0;
}

.experience__box {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5rem;
    margin-bottom: 6.4rem;
}

@media (max-width: 1080px) {
    .experience__box {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }
}

.experience__box--cambio {
    grid-template-columns: 1fr 2fr;
}

.experience__img {
    width: 100%;
}

.experience__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.experience__info--cambio {
    order: -1;
}

@media (max-width: 1080px) {
    .experience__info--cambio {
        order: 0;
    }
}

.experience__heading {
    margin: 0 0 1.6rem 0;
    font-size: 2.2rem;
}

@media (max-width: 1080px) {
    .experience__heading {
        font-size: 2rem;
    }
}

.experience__text {
    margin: 0 0 1.6rem 0;
    font-size: 1.8rem;
    text-align: justify;
}

.buttons {
    margin-top: 1rem;
}

@media (max-width: 576px) {
    .buttons {
        display: flex;
    }
}

.btn {
    width: 100%;
    display: inline-block;
    color: var(--btnAzul);
    border: 3px solid var(--btnAzul);
    padding: 1.5rem 1rem;
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
}

@media (max-width: 1080px) {
    .btn {
        display: inline;
        font-size: 1.6rem;
        padding: 1rem 1rem;
    }
}

.btn:hover {
    cursor: pointer;
}

.btn--filled {
    background-color: var(--btnAzul);
    color: var(--blanco);
}

/* === CONTACTO === */
.contacto {
    background-color: var(--azulClaro);
    padding: 6.4rem 0;
}

@media (max-width: 1080px) {
    .contacto {
        padding: 3.2rem 0;
    }
}

@media (max-width: 576px) {
    .contacto {
        padding: 1.8rem 0;
    }
}

.contacto__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
}

@media (max-width: 1080px) {
    .contacto__container {
        display: flex;
    }
}

@media (max-width: 1080px) {
    .contacto__img {
        display: none;
    }
}

.contacto__div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contacto__title {
    font-family: var(--berkshire);
    font-size: 3.2rem;
    margin: 0;
}

.contacto__text {
    margin: 0 0 3.2rem 0;
}

@media (max-width: 576px) {
    .contacto__text {
        font-size: 1.8rem;
    }
}

.contacto__form {
    display: flex;
    flex-direction: column;
}

.box-input {
    margin-bottom: 1rem;
}

.box-input__label {
    font-size: 2rem;
    font-weight: bold;
}

.box-input__input,
.box-input__textarea {
    display: inline-block;
    width: 100%;
    background-color: var(--blanco);
    border-radius: 0.4rem;
    height: 5.6rem;
    border: none;
    color: var(--grisOscuro);
}

.box-input__textarea {
    height: 20rem;
    resize: none;
}

.btn--contacto {
    padding: 1rem 0.5rem;
    width: 30%;
}

@media (max-width: 576px) {
    .btn--contacto {
        width: 50%;
    }
}

.box-input__exito {
    background-color: green;
    padding: 2rem 3rem;
    color: white;
    text-align: center;
    margin: 2rem 0 0 0;
    text-transform: uppercase;
    font-weight: bold;
}

.box-input__error {
    background-color: navy;
    padding: 2rem 3rem;
    color: white;
    text-align: center;
    margin: 0 0 2rem 0;
}

.btn--opacity {
    opacity: 0.5;
}

/* === SPINNER === */

.flex {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

#spinner {
    margin-top: 1rem;
}

/* === FOOTER === */
.footer {
    background-color: var(--blanco);
    padding: 3rem;
}

@media (max-width: 576px) {
    .footer {
        padding: 2rem;
    }
}

.footer__texto {
    margin: 0;
    text-align: center;
    font-size: 1.8rem;
}

@media (max-width: 576px) {
    .footer__texto {
        font-size: 1.6rem;
    }
}

.footer__pizza {
    font-size: 2.3rem;
}

.footer__enlace {
    font-weight: 900;
    text-decoration: none;
    color: var(--negro);
}
